<CascadingValue Value="this">
    @if (IsActive) {
        <div class="@ContainerClass">
            <div class="@TitleContainerClass">
                @TitleContent
            </div>

            <div class="@StepTitleContainerClass">
                @foreach (var step in stepsInternal) {
                    @if (step == ActiveStep) {
                        <div class="@StepTitleClass @ActiveStepTitleClass">@step.Title</div>
                    }
                    else {
                        <div class="@StepTitleClass">@step.Title</div>
                    }
                }
            </div>

            <div class="@ButtonContainerClass">
                @if (ShowCancelButton) {
                    <button @onclick="Stop" class="@ButtonClass @ButtonCancelClass">@ButtonCancelText</button>
                }

                @if (IsLastStep) {
                    <button @onclick="TryCompleteStep" class="@ButtonClass @ButtonFinishClass">@ButtonFinishText</button>
                }
                else {
                    <button @onclick="TryCompleteStep" class="@ButtonClass @ButtonNextClass">@ButtonNextText</button>
                }
            </div>

            <div class="@ContentContainerClass">
                @Steps
            </div>
        </div>
    }
</CascadingValue>
