<CascadingValue Value="this">
    @if (IsActive) {
        <div class="@ContainerClass">
            <div class="@TitleContainerClass">
                @TitleContent
            </div>

            <div class="@StepTitleContainerClass">
                @foreach (var step in stepsInternal) {
                    <div class="@StepTitleClass @(step == ActiveStep ? ActiveStepTitleClass : null)">@step.Title</div>
                }
            </div>

            <div class="@ButtonContainerClass">
                @if (ShowCancelButton) {
                    <button @onclick="Stop" class="@ButtonClass @ButtonCancelClass">@ButtonCancelText</button>
                }

                <button @onclick="TryCompleteStep" class="@ButtonClass @(IsLastStep ? ButtonFinishClass : ButtonNextClass)">@(IsLastStep ? ButtonFinishText : ButtonNextText)</button>
            </div>

            <div class="@ContentContainerClass">
                @Steps
            </div>
        </div>
    }
</CascadingValue>
