<CascadingValue Value="this">
    @if (IsActive) {
        @Steps

        @if (Layout == null) {
            <div class="@ContainerClass">
                <div class="@TitleContainerClass">
                    @layoutContext.Title
                </div>

                <div class="@StepTitleContainerClass">
                    @layoutContext.StepTitles
                </div>

                <div class="@ButtonContainerClass">
                    @layoutContext.Buttons
                </div>

                <div class="@ContentContainerClass">
                    @layoutContext.Content
                </div>
            </div>
        }
        else {
            @Layout(layoutContext)
        }
    }
</CascadingValue>
