@page "/eventhandler"

<GlobalEventHandler OnWindowKeyDown="@OnWindowKeyDown" OnWindowKeyUp="@OnWindowKeyUp" OnWindowClick="@OnWindowClick" OnWindowResize="@OnWindowResize"/>

<h1>VDT.Core.Demo.Client - GlobalEventHandler</h1>

<p>A test for handling window level events in Blazor.</p>

<div class="row">

    @if (keyDownEventArgs != null) {
        <div class="col-12 col-lg-6 col-xl-4 mb-4">
            <div class="card text-dark bg-light">
                <div class="card-body">
                    <h2 class="card-title">Last key down event</h2>

                    <ul class="card-text">
                        <li>Alt key: @keyDownEventArgs.AltKey</li>
                        <li>Code: @keyDownEventArgs.Code</li>
                        <li>Ctrl key: @keyDownEventArgs.CtrlKey</li>
                        <li>Key: @keyDownEventArgs.Key</li>
                        <li>Location: @keyDownEventArgs.Location</li>
                        <li>Meta key: @keyDownEventArgs.MetaKey</li>
                        <li>Repeat: @keyDownEventArgs.Repeat</li>
                        <li>Shift key: @keyDownEventArgs.ShiftKey</li>
                        <li>Type: @keyDownEventArgs.Type</li>
                    </ul>
                </div>
            </div>
        </div>
    }

    @if (keyUpEventArgs != null) {
        <div class="col-12 col-lg-6 col-xl-4 mb-4">
            <div class="card text-dark bg-light">
                <div class="card-body">
                    <h2 class="card-title">Last key up event</h2>

                    <ul class="card-text">
                        <li>Alt key: @keyUpEventArgs.AltKey</li>
                        <li>Code: @keyUpEventArgs.Code</li>
                        <li>Ctrl key: @keyUpEventArgs.CtrlKey</li>
                        <li>Key: @keyUpEventArgs.Key</li>
                        <li>Location: @keyUpEventArgs.Location</li>
                        <li>Meta key: @keyUpEventArgs.MetaKey</li>
                        <li>Repeat: @keyUpEventArgs.Repeat</li>
                        <li>Shift key: @keyUpEventArgs.ShiftKey</li>
                        <li>Type: @keyUpEventArgs.Type</li>
                    </ul>
                </div>
            </div>
        </div>
    }

    @if (clickEventArgs != null) {
        <div class="col-12 col-lg-6 col-xl-4 mb-4">
            <div class="card text-dark bg-light">
                <div class="card-body">
                    <h2 class="card-title">Last click</h2>

                    <ul class="card-text">
                        <li>Alt key: @clickEventArgs.AltKey</li>
                        <li>Button: @clickEventArgs.Button</li>
                        <li>Buttons: @clickEventArgs.Buttons</li>
                        <li>Client X: @clickEventArgs.ClientX</li>
                        <li>Client Y: @clickEventArgs.ClientY</li>
                        <li>Ctrl key: @clickEventArgs.CtrlKey</li>
                        <li>Detail: @clickEventArgs.Detail</li>
                        <li>Meta key: @clickEventArgs.MetaKey</li>
                        <li>Offset X: @clickEventArgs.OffsetX</li>
                        <li>Offset Y: @clickEventArgs.OffsetY</li>
                        <li>Screen X: @clickEventArgs.ScreenX</li>
                        <li>Screen Y: @clickEventArgs.ScreenY</li>
                        <li>Shift key: @clickEventArgs.ShiftKey</li>
                        <li>Type: @clickEventArgs.Type</li>
                    </ul>
                </div>
            </div>
        </div>
    }

    @if (resizeEventArgs != null) {
        <div class="col-12 col-lg-6 col-xl-4 mb-4">
            <div class="card text-dark bg-light">
                <div class="card-body">
                    <h2 class="card-title">Last resize event</h2>

                    <ul class="card-text">
                        <li>Width: @resizeEventArgs.Width</li>
                        <li>Height: @resizeEventArgs.Height</li>
                    </ul>
                </div>
            </div>
        </div>
    }

</div>

@code {
    private KeyboardEventArgs? keyDownEventArgs;
    private KeyboardEventArgs? keyUpEventArgs;
    private MouseEventArgs? clickEventArgs;
    private ResizeEventArgs? resizeEventArgs;

    public Task OnWindowKeyDown(KeyboardEventArgs args) {
        keyDownEventArgs = args;

        return Task.CompletedTask;
    }

    public Task OnWindowKeyUp(KeyboardEventArgs args) {
        keyUpEventArgs = args;

        return Task.CompletedTask;
    }

    public void OnWindowClick(MouseEventArgs args) {
        clickEventArgs = args;
    }

    public void OnWindowResize(ResizeEventArgs args) {
        resizeEventArgs = args;
    }
}
